.base-NumberInput-input {
    border: 0 !important; 
    font-size: 16px !important;
}
.css-yppmy9:hover {
    border-color: #9d2ff7 !important;
}

.css-yppmy9.base--focused {
    border-color: #9d2ff7 !important;
    box-shadow: 0 0 0 0!important;
}

.base-NumberInput-root {
    button {
        display: none;
    }
}