.helo {
    width: 100vw;
    height: 100vh;
    background-color: #5E2E86; 
    background-image: url(../../../assets/users/transparent.png); 
    background-size: 500px; 
    background-position: 110px center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  

.login-form {
    background: white;
    padding: 33px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 130px;
    border: 2px solid rgba(255, 255, 255, .2);

}



.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}
.input-box input::placeholder {
  color: #5E2E86;
}
.input-box input:focus {
  border-color: #5E2E86; 
  outline: none; 
  box-shadow: 0 0 5px rgba(94, 46, 134, 0.5); 
  border-width: 2px;
}

.input-box .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #5E2E86 ;
}

button.login {
  width: 100%;
  padding: 10px;
  background-color: #5E2E86;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

button.login:hover {
  background-color: #472367;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #5E2E86;
  text-decoration: none;
}
.register-link:hover a {
  font-size: 18px; 
  font-weight: bold; 
  transition: all 0.3s ease; 
}


.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  // background-color: #4285F4; 
  color: #5E2E86;
  border: 3px solid #5E2E86;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px; 
}

.google-login:hover {
  background-color: #cba8e8; /* Thay đổi màu khi hover */
}

.google-login .icon {
  margin-right: 10px;
  font-size: 18px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  color: #5E2E86;

}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
  
}

.remember-forgot a {
  color: #5E2E86;
}

.register-link p{
  color: #5E2E86;
  font-size: 18px;
}


.homepage {
  text-align: center;
  cursor: pointer;
}

.homepage svg {
  color: #5E2E86; 
  font-size: 25px;
}

.error-message {
  color: red;
  font-size: 20px; // Kích thước chữ lớn hơn
  text-align: center; // Căn giữa
  // margin: 10px 0; // Khoảng cách trên và dưới
  font-weight: bold; // Chữ đậm nếu bạn muốn
}