.title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    h3 {
        font-weight: bold;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }
}

.productItem {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    h4 {
        padding-top: 15px;
        font-size: 15px;
        font-weight: 600;
    }

    .badge {
        display: inline-block;
        position: absolute;
        padding: 7px 10px;
        top:0px;
        left: -1px;
        font-size: 13px;
    }

    .imgWrapper {
        overflow: hidden;
        img {
            transition: all 0.3s ease-in-out;
        }
    }
    .imgWrapper:hover img {
        transform: scale(1.1);
    }

    .imgWrapper:hover .actions {
        opacity: 1;
        visibility: visible;
        right: 0px;
    }

    .actions {
        position: absolute;
        display: flex;
        top: 0px;
        right: -100%;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden; /* Ẩn phần tử và không chiếm không gian */

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            height: 40px;
            width: 40px;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 50%;
            background: #fff;
            box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
            transition: all 0.0s !important;
        }
    
        button svg {
            color: red;
            font-size: 16px;
            pointer-events: none;
        }
    
    
        button:hover {
            background: red;
        }
        button:hover svg {
            color: #fff !important;
        }
    }
}
.productItem:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.curPrice {
    font-size: 17px;
    font-weight: bold;

}
.oriPrice {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.3   );
    text-decoration: line-through;
}

.swiper-button-prev, .swiper-button-next {
    background: rgba(255, 255, 135, 59);
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 30px !important
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 30px !important
}